

<app-timer #myTimer></app-timer>

<br/>

<button class="btn btn-info" (click)="navigateTo(target)">Navigate to 7th field</button>


<br/> <br/>
<br/> <br/>

<div class="form-group">
<label class="form-label">1st field</label>
<input type="text" class="form-control" placeholder="first field" #myInput>
</div>

<br/> <br/> <br/>

<div class="form-group">
  <label class="form-label">2nd field</label>
  <input type="text" class="form-control" placeholder="second field" >
</div>

<br/> <br/> <br/>

<div class="form-group">
  <label class="form-label">3rd field</label>
  <input type="text" class="form-control" placeholder="third field" >
</div>

<br/> <br/> <br/>

<div class="form-group">
  <label class="form-label">4th field</label>
  <input type="text" class="form-control" placeholder="forth field" >
</div>

<br/> <br/> <br/>


<div class="form-group">
  <label class="form-label">5th field</label>
  <input type="text" class="form-control" placeholder="fifth field" >
</div>

<br/> <br/> <br/>
<div class="form-group">
  <label class="form-label">6th field</label>
  <input type="text" class="form-control" placeholder="sixth field" >
</div>

<br/> <br/> <br/>
<div class="form-group" #target>
  <label class="form-label">7th field</label>
  <input type="text" class="form-control" placeholder="seventh field" >
</div>

<br/> <br/> <br/>

<div class="form-group">
  <label class="form-label">8th field</label>
  <input type="text" class="form-control" placeholder="eighth field" >
</div>

<br/> <br/> <br/>


<div class="form-group">
  <label class="form-label">9th field</label>
  <input type="text" class="form-control" placeholder="ninth field" >
</div>

<br/> <br/> <br/>

<div class="form-group">
  <label class="form-label">10th field</label>
  <input type="text" class="form-control" placeholder="tenth field">
<!--  <input type="text" class="form-control" placeholder="tenth field" autofocus>-->
</div>

<br/> <br/> <br/>

<br/> <br/> <br/>
<br/> <br/> <br/>
<br/> <br/> <br/>
