<h1>Google Tag Manager events</h1>

<h3>
  <a target=”_blank” href="https://support.google.com/analytics/answer/9267735?sjid=483913084324922061-EU">
   GA4 Recommended Events
  </a>
</h3>

<br />

<button  class="btn btn-block btn-info m-3" (click)="gtmSubmitLoginEvent()">
  login event
</button>


<button  class="btn btn-block btn-info m-3" (click)="gtmSubmitSignUpEvent()">
  sign_up event
</button>


<button  class="btn btn-block btn-info m-3" (click)="gtmSubmitSearchEvent()">
  search event
</button>


<button  class="btn btn-block btn-info m-3" (click)="gtmSubmitPurchaseEvent()">
  purchase event
</button>


<button  class="btn btn-block btn-info m-3" (click)="gtmSubmitRefundEvent()">
  refund event
</button>

