<div>

  <nav class="mynav">
    <ul>
      <li><a href="scroll-spy#section1" class="active">Section 1</a></li>
      <li><a href="scroll-spy#section2">Section 2</a></li>
      <li><a href="scroll-spy#section3">Section 3</a></li>
    </ul>
  </nav>


  <div id="section1" class="section">
    <h2>Section 1</h2>
    <p>
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      It is not uncommon to see names that follow patterns differing from the English and French naming conventions.
    </p>
  </div>


  <div id="section2" class="section">
    <h2>Section 2</h2>
    <p>
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      It is not uncommon to see names that follow patterns differing from the English and French naming conventions.
    </p>
  </div>


  <div id="section3" class="section">
    <h2>Section 3</h2>
    <p>
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      In English Canada, names follow much the same convention as they do in the United States and United Kingdom.
      Usually the "first name" (as described in e.g. birth certificates) is what a child goes by, although a middle name
      (if any) may be preferred—both also known as "given names." The "last name" is usually taken from a child's
      parents, which may be from either or both (joined by hyphenation).[note 1][1] Outside Quebec (with distinct civil
      law system), either spouse has the right to assume the other's last name, as long as it is not intended for the
      purposes of fraud. Getting married does not result in a legal change of name nor automatically change
      identification records.[2][3][note 2]
      It is not uncommon to see names that follow patterns differing from the English and French naming conventions.
    </p>
  </div>

</div>

<br/>
<br/>
<br/>
<br/>
