<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button href="https://www.google.com/" target="_blank">Link</a>
</div>


<mat-divider></mat-divider>

<button mat-fab extended>
  <mat-icon>favorite</mat-icon>
  Basic
</button>

<mat-divider></mat-divider>

<button mat-mini-fab aria-label="Example icon button with a menu icon">
  <mat-icon>menu</mat-icon>
</button>


<mat-divider></mat-divider>

<button mat-fab disabled aria-label="Example icon button with a heart icon">
  <mat-icon>favorite</mat-icon>
</button>

<mat-divider></mat-divider>

<button mat-fab aria-label="Example icon button with a delete icon">
  <mat-icon>delete</mat-icon>
</button>

<mat-divider></mat-divider>

<button mat-flat-button>Basic</button>
<button mat-flat-button disabled>Disabled</button>
<a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
